body {
  background: #e6ebf0;
}

.content {
  margin-top: 110px;
}

.illustration {
  margin: auto;
  width: 410px;
  text-align: center;
}

.illustration img {
  width: 334px;
}

.illustration .title,
.illustration .description,
.illustration a {
  margin-top: 20px;
}

.illustration .title {
  color: #011538;
}

.illustration .description {
  color: #757f85;
}

@media (max-width: 576px) {
  .illustration {
    width: auto;
  }
}
